@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&display=swap");

:root {
  --primary: #5effc5;
  --secondary: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-container {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 36px;
  word-spacing: 5px;
}

.content-container span {
  color: var(--primary);
  -webkit-text-stroke: 0.25px #000;
}
