.login-container {
  height: 56vh;
  width: 40vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2vh;
  margin: 10% auto;
}

form {
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

form input {
  height: 5vh;
  width: 80%;
  padding: 10px;
  font-size: 12px;
}
button {
  height: 5vh;
  width: 60%;
}
