@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&display=swap");

:root {
  --primary: #5effc5;
  --secondary: #000000;
  --text: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8vh;
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: 0 0 2em 2em;
}

.navbar > span:first-of-type {
  font-size: xx-large;
  font-family: "Open sans", sans-serif;
  color: var(--primary);
}

.search-container {
  width: 36vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  width: 32vw;
  height: 6vh;
  font-size: 1.2rem;
  padding: 2%;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

.button {
  background-color: var(--primary);
  box-shadow: 0 2px 0 0 #fff;
  transition: all 0.1s;
  border-radius: 0.3rem;
  cursor: pointer;
  text-align: center;
}

.button:active {
  transform: translate3d(0, 0.1em, 0.1em);
  box-shadow: none;
}

.icon {
  height: 6vh;
  width: 6vh;
}

.login {
  height: 5vh;
  width: 5%;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

nav > span {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: var(--text);
  cursor: pointer;
  transition: all 0.4s;
}

.active-space {
  color: var(--primary);
  text-decoration: underline;
}

.navbar nav span:not(.active-space):hover {
  transform: scale3d(1.1, 1.1, 3);
  color: #21815e;
}
