@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&display=swap");

:root {
  --primary: #5effc5;
  --secondary: #000000;
  --text: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8vh;
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: 0 0 2em 2em;
}

.navbar > span:first-of-type {
  font-size: xx-large;
  font-family: "Open sans", sans-serif;
  color: var(--primary);
}

.search-container {
  width: 36vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  width: 32vw;
  height: 6vh;
  font-size: 1.2rem;
  padding: 2%;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

.button {
  background-color: var(--primary);
  box-shadow: 0 2px 0 0 #fff;
  transition: all 0.1s;
  border-radius: 0.3rem;
  cursor: pointer;
  text-align: center;
}

.button:active {
  transform: translate3d(0, 0.1em, 0.1em);
  box-shadow: none;
}

.icon {
  height: 6vh;
  width: 6vh;
}

.login {
  height: 5vh;
  width: 5%;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

nav > span {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: var(--text);
  cursor: pointer;
  transition: all 0.4s;
}

.active-space {
  color: var(--primary);
  text-decoration: underline;
}

.navbar nav span:not(.active-space):hover {
  transform: scale3d(1.1, 1.1, 3);
  color: #21815e;
}

.loginModal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(88, 88, 88, 0.5);
}

.loginModal.show {
  display: block;
}

.modalContent {
  height: 80vh;
  width: 30vw;
  margin: 5% auto;
  background-color: var(--secondary);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  font-family: "Open sans", sans-serif;
  border-radius: 10%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vh;
}

.input-container input {
  height: 5vh;
  width: 16vw;
  border-radius: 4px;
  padding: 1vh;
  font-family: "Open sans", sans-serif;
  font-weight: 900;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.button-container button {
  height: 5vh;
  width: 16vw;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 1px 1px 0px 1px var(--primary);
  transition: all 0.3s;
  cursor: pointer;
}

.button-container button:active {
  box-shadow: none;
}

.button-container button:nth-child(1) {
  background-color: var(--primary);
}

.button-container button:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.signupModal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(88, 88, 88, 0.5);
}

.signupModal.show {
  display: block;
}

.signupModalContent {
  height: 80vh;
  width: 30vw;
  margin: 5% auto;
  background-color: var(--secondary);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  font-family: "Open sans", sans-serif;
  border-radius: 10%;
}
