:root {
  --primary: #5effc5;
  --secondary: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.userInfo-container {
  background-color: whitesmoke;
  padding: 20px;
  margin-top: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.userProfile-image {
  height: 10vh;
  border: 1px solid black;
  border-radius: 10vh;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.userInfo > span {
  color: darkblue;
  background-color: rgb(173, 216, 230, 0.5);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  height: 5vh;
  min-width: 100%;
  padding: 0 5vh;
}

.blog-grid-container {
  padding: 5% 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 16vh;
  flex-wrap: wrap;
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .userInfo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .userInfo > span {
    width: 100%;
    font-size: large;
  }
}
